:root {
  --lightorange: #FFE3BC;
  --black: #1A1A1A;
  --lightpurple: #CBB5FF;
}
#head {
  display: flex;
  justify-content: space-between;
}
#overallogo {
  position: relative;
  overflow: hidden;
  float: left;
  margin-top: 5px;
}
#lang {
  position: absolute;
  right: 16px;
}
#navbarcontainer {
  position: absolute;
  right: 30px;
  margin: 30px;
  width: auto;
}
.navbar a {
  display: inline-block;
  overflow: hidden;
  color: #FFE3BC;
  padding: 15px 19px;
  margin: 2px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  background-color: #1A1A1A;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  cursor: pointer;
}
.navbar a:hover {
  display: inline-block;
  overflow: hidden;
  color: #FFE3BC;
  padding: 20px 24px;
  margin: 2px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  background-color: #1A1A1A;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  cursor: pointer;
}
#slideshow{
  margin-top: 0px;
  width:90%;
  padding-left: 120px;

}
.carousel-control-prev-icon {
  color: red;
  width: 70px;
  height: 70px;
}
/*
#carousel-control-prev{
  margin-top: 0px;
  width:90%;
  margin-left: 120px%;

}

#bottom {
color: aquamarine;
} */
.section2 {
  background-color: var(--lightpurple);
  height:500px;
  width:auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section2 img {
  height: 500px;
  width: 580px;
}
.section3 {
  background-color: var(--lightorange);
  height: 250px;
  width: auto;
  padding-top: 100px;

}
.section3 div {
  font-size: 20px;
  font-family: fantasy;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3 button {
  justify-self: center;
}
.section4 {
  background-color: var(--lightpurple);
  height: 400px;
  width: auto;
}
.section5 {
  background-color: var(--black);
  height: 30px;
  width: auto;
}
.section5 p {
  font-size: 20px;
  font-family: sans-serif;
  color: var(--lightpurple);
  text-align: center;
}
.kk {
  text-align: center;
  padding-top: 10px;
}
