:root {
  --light orange: #FFE3BC;
}
#head {
  display: flex;
  justify-content: space-between;
}
#overallogo {
  position: relative;
  overflow: hidden;
  float: left;
  margin-top: 5px;
}
#lang {
  position: absolute;
  right: 16px;
}
#navbarcontainer {
  position: absolute;
  right: 30px;
  margin: 30px;
  width: auto;
}
.navbar a {
  display: inline-block;
  overflow: hidden;
  color: #FFE3BC;
  padding: 15px 19px;
  margin: 2px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  background-color: #1A1A1A;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  cursor: pointer;
}
.navbar a:hover {
  display: inline-block;
  overflow: hidden;
  color: #FFE3BC;
  padding: 20px 24px;
  margin: 2px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  background-color: #1A1A1A;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  cursor: pointer;
}
#slideshow{
  margin-top: 0px;
  width:90%;
  padding-left: 120px;

}
.carousel-control-prev-icon {
  color: red;
  width: 70px;
  height: 70px;
}
/*
#carousel-control-prev{
  margin-top: 0px;
  width:90%;
  margin-left: 120px%;

}

#bottom {
color: aquamarine;
}


}
